#dashboard-container {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

    .dashboard-content-container {
        width: 80%;
        margin: 0 10%;
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
    }

        .dashboard-content-inner:first-child {
            flex: 1;
        }

        .dashboard-content-inner:last-child {
            flex: 1.25;
        }

            .dashboard-content {
                margin: 15px;
                padding: 0;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                font-size: 2rem;
                color: black;
                -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }

            #dashboard-welcome {
                width: 100%;
                margin: 0;
                padding: 15px;
                background-color: #00838F;
                font-family: 'Dosis', sans-serif;
                font-weight: 800;
                font-size: 1.5em;
                text-align: center;
                color: white;
            }

            .dashboard-content h2 {
                width: 100%;
                margin: 0;
                padding: 15px;
                background-color: #00ACC1;
                font-family: 'Dosis', sans-serif;
                font-weight: 800;
                font-size: 1em;
                text-align: center;
                color: white;
            }

            .dashboard-content p {
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                font-size: .5em;
                text-align: center;
                color: red;
            }

            #current-groups-list {
                padding: 0;
                margin: 0;
                list-style: none;
            }

                #current-groups-list li {
                    padding: 0;
                    margin: 0;
                    text-decoration: none;

                }

                #current-groups-list a {
                    padding: 0;
                    margin: 0;
                    color: black;
                    font-size: .5em;
                }


            .dashboard-form-input {
                margin: 5px 0;
                display: flex;
                justify-content: space-between;
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                font-size: .5em;
            }

                .dashboard-form-input label {
                    text-align: left;
                    margin-right: 15px;
                    color: black;
                }

                .dashboard-form-input input {
                    color: black;
                }


@media screen and (min-width:768px) {

    .dashboard-content-container {
        width: 80%;
        margin: 30px 10%;
        flex-direction: row;
    }

        .dashboard-content-inner {
            width: 50%;
        }

    .dashboard-content-inner:first-child {
        flex: 1;
    }

    .dashboard-content-inner:last-child {
        flex: 1.5;
    }

}
