#dashboard-container {
    width: 90%;
    padding: 25px 0;
    margin: 25px 5% 25px 5%;
    text-align: center;
}

    .test-container {
        /*border: 1px solid blue;*/
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        .test-inner {
        }

            .test {
                background-color: #018589;
                margin: 10px;
                padding: 15px;
                flex: 1 0 50%;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                font-size: 2rem;
                color: black;
                -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }

            #dashboard-welcome {
                font-family: 'Dosis', sans-serif;
                font-weight: 800;
                font-size: 1.5em;
                text-align: center;
                color: white;
            }

            .test h2 {
                font-family: 'Dosis', sans-serif;
                font-weight: 800;
                font-size: 1em;
                text-align: center;
                color: white;
            }

            .test p {
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                font-size: .5em;
                text-align: center;
                color: red;
            }

            #current-groups-list {
                padding: 0;
                margin: 0;
                list-style: none;
            }

                #current-groups-list li {
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                }

                #current-groups-list a {
                    padding: 0;
                    margin: 0;
                    color: white;
                    font-size: .5em;
                }


            .dashboard-form-input {
                margin: 5px 0;
                display: flex;
                justify-content: space-between;
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                font-size: .5em;
            }

                .dashboard-form-input label {
                    text-align: left;
                    margin-right: 15px;
                    color: white;
                }

                .dashboard-form-input input {
                    color: black;
                }


@media screen and (min-width:768px) {

    .test-container {
        width: 90%;
        margin: 0 5%;
        flex-direction: row;
    }

        .test-inner {
            width: 50%;
        }

}
