#lumenati-navbar-container{
    width: 100%;
    padding: 15px 0;
    margin: 0;
    background-color: #006064;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    #lumenati-navbar {
        padding: 0 15px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
    }

        .lumenati-nav-ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .lumenati-nav-ul li, .lumenati-nav-ul a {
            padding: 0;
            margin: 0;
            text-decoration: none;
            display: inline;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: .95em;
            text-align: center;
            color: white;
        }

        .lumenati-nav-ul:last-child li{
            padding: 0;
            margin: 0 0 0 5px;
        }


        #lumenati-logo {
            font-family: 'Dosis', sans-serif;
            font-weight: 800;
            font-size: 1.5em;
            text-align: center;
            color: white;
        }


#userprofile-content {
    display: flex;
    flex-direction: column;
}

    #userprofile-sidebar {
        padding: 0;
        margin: 0;
        font-size: 2rem;
        flex: .75;
        min-height: 40vh;
    }

        #welcome-text {
            padding: 15px 5px;
            margin: 0;
            font-family: 'Dosis', sans-serif;
            font-weight: 800;
            font-size: 1.15em;
            text-align: center;
            color: black;
            opacity: .80;
        }

    #userprofile-body {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.5rem;
    }

        .userprofile-content-box {
            padding: 5px 5px;
            margin: 0;
            flex: 1 0 75%;
        }

            .userprofile-content-box h2{
                padding: 5px 5px;
                margin: 0;
                text-align: center;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 1em;
                color: black;
                opacity: .65;
            }


    #userprofile-map-container {
        flex: 2;
        height: 50vh;
    }

        #pac-input {
            position: absolute;
            z-index: 1;
            font-size: 15px;
            font-weight: 300;
            margin: 15px 0 0 15px;
            padding: 2px 11px 2px 13px;
            text-overflow: ellipsis;
            width: 70%;
            border: 0;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        #map {
            height: 100%;
            width: 100%;
            margin: 5px 0;
            opacity: .9;
        }

@media screen and (min-width:768px) {
#lumenati-navbar-container{
    padding: 10px 0;
}

    #lumenati-navbar {
        font-size: 1.5rem;
    }

        .lumenati-nav-ul li, .lumenati-nav-ul a {
            font-size: .85em;
        }

    #userprofile-content {
        padding: 0;
        margin: 0;
        flex-direction: row;
    }

    #userprofile-body {
        flex-direction: column;
        font-size: 2rem;
    }

        #userprofile-sidebar {
            padding: 0;
            margin: 3px 0 0 0;
            flex: 1;
            height: 90vh;
        }

            #welcome-text {
                padding: 10px;
                margin: 0;
                text-align: left;
                font-size: 1.15em;
            }

            .userprofile-content-box h2 {
                text-align: left;
                font-size: .75em;
            }

        #userprofile-map-container {
            padding: 0;
            margin: 3px 0 0 0;
            flex: 2.5;
            height: 90vh;
        }

        #pac-input {
            margin: 10px 0 0 9px;
            padding: 2px 11px 2px 13px;
            width: 50%;
        }

            #map {
                height: 100%;
                width: 100%;
                margin: 0;
            }

}
