<link rel="stylesheet" href="assets/css/dashboard.css">
<div ng-controller="dashboardController">
    <nav id="lumenati-navbar-container">
        <div id="lumenati-navbar">
            <ul class="lumenati-nav-ul">
                <li><a id="lumenati-logo" href="#/dashboard/{{session_user.username}}">lumenati</a></li>
            </ul>
            <ul class="lumenati-nav-ul">
                <!-- <li><a href="#/dashboard/{{session_user.username}}" ng-click="">My Map</a></li> -->
                <li><a href="#/dashboard/{{session_user.username}}">Groups</a></li>
                <li><a href="#/profile/{{session_user.username}}" ng-click="">Profile</a></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div id="dashboard-container">
        <div class="dashboard-content-container">
            <div class="dashboard-content-inner">
                <div class="dashboard-content">
                    <h1 id="dashboard-welcome">Hello, {{session_user.first_name}}!</h1>
                </div>
                <div class="dashboard-content">
                    <h2>Current Groups</h2>
                    <ul id="current-groups-list"ng-repeat="group in userGroups">
                        <li><a href="#/profile/group/{{group._id}}" ng-click="cancel(group._id)">{{group.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="dashboard-content-inner">
                <div class="dashboard-content">
                    <h2>Create New Group</h2>
                    <p ng-repeat="error in regErrors">{{error.message}}</p>
                    <form id="create-group-form" ng-submit="registerGroup()">
                        <div class="dashboard-form-input">
                            <label for="create-group-name">Group Name:</label>
                            <input id="create-group-name" type="text" ng-model="regGroup.name">
                        </div>
                        <div class="dashboard-form-input">
                            <label for="create-group-password">Password:</label>
                            <input id="create-group-password" type="password" ng-model="regGroup.password">
                        </div>
                        <div class="dashboard-form-input">
                            <label for="create-group-password-conf">Confirm Password:</label>
                            <input id="create-group-password-conf" type="password" ng-model="regGroup.passwordConf">
                        </div>
                        <button class="btn btn-success" type="submit">Create</button>
                    </form>
                </div>
                <div class="dashboard-content">
                    <h2>Join A Group</h2>
                    <p ng-repeat="error in regErrors">{{error.message}}</p>
                    <form id="join-group-form"  ng-submit="joinGroup()">
                        <div class="dashboard-form-input">
                            <label for="join-group-name">Group Name:</label>
                            <input id="join-group-name" type="text" ng-model="join.name">
                        </div>
                        <div class="dashboard-form-input">
                            <label for="join-group-password">Password:</label>
                            <input id="join-group-password" type="text" ng-model="join.password">
                        </div>
                        <button class="btn btn-success" type="submit">Join</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Begin Create Group Modal -->
    <!-- <div class="modal fade" id="group" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Groups</h2>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" id="modal_row">
                            <div class="col-md-4" id="current_groups">
                                <h3>Current Groups</h3>
                                <ul ng-repeat="group in userGroups">
                                    <li><a href="" ng-click="cancel(group._id)">{{group.name}}</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4" id="select_group">
                                <h3>Join Existing Group</h3>
                                <p ng-repeat="error in regErrors">{{error.message}}</p>
                                <form ng-submit="joinGroup()">
                                    <label style="display:block;">Group Name: <input type="text" ng-model="join.name"></label>
                                    <label style="display:block;">Password: <input type="password" ng-model="join.password"></label>
                                    <button class="btn btn-success" type="submit">Join</button>
                                </form>
                            </div>
                            <div class="col-md-4" id="new_group">
                                <h3>Create A New Group</h3>
                                <p ng-repeat="error in regErrors">{{error.message}}</p>
                                <form ng-submit="registerGroup()">
                                    <label style="display:block;">Group Name: <input type="text" ng-model="regGroup.name"></label>
                                    <label style="display:block;">Password: <input type="password" ng-model="regGroup.password"></label>
                                    <label style="display:block;">Password Confirmation: <input type="password" ng-model="regGroup.passwordConf"></label>
                                    <button class="btn btn-success" type="submit">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
