<link rel="stylesheet" href="assets/css/group_profile.css">

<div ng-controller="groupProfileController">

    <nav class="navbar navbar-default">
        <div id="navbar" class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul id="nav_ul">
                        <li><h4><span class="glyphicon glyphicon-eye-open"></span> Welcome, {{session_user.first_name}}!</h4></li>
                        <li><a href="#/dashboard/{{session_user.username}}" ng-click="">My Map</a></li>
                        |
                        <li><a href="" class="card-link" type="button" data-toggle="modal" data-target="#group">Groups</a></li>
                        |
                        <li><a href="#/profile/{{session_user.username}}" ng-click="">Profile</a></li>
                        |
                        <li><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row" id="top_row">
            <div class="col-md-12">
                <h1 class="redText">{{currentGroup.name}}</h1>
                <p>Created On: {{currentGroup.createdAt}}</p>
                <button type="button" class="btn btn-success"><a id="add_button" href="#/dashboard/group/{{currentGroup._id}}">Add New Markers</a></button>
                <button type="button" class="btn btn-danger">Delete Map</button>
            </div>
        </div>

        <div class="row" id="middle_row">
            <div class="col-md-4">
                <h3>GROUP STATUS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                <div class="form-group">
                  <textarea class="form-control noresize" rows="3" id="comment"></textarea>
                  <input type="submit" class="btn btn-default" value="Update">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                  <h3 class="card-header">LATEST MARKERS</h3>
                  <p>{{noMarkers}}</p>
                  <div class="card-block">
                      <ul ng-repeat="marker in currentGroup.markers | orderBy:'-createdAt' | limitTo:5">
                          <li><b>{{marker.title}}</b> - <i>{{marker.category}}</i><br>{{marker.address}}<br></li>
                      </ul>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>GROUP MEMBERS</h3>
                <ul ng-repeat="member in currentGroup.members">
                    <li>{{member.first_name}} {{member.last_name}}</li>
                </ul>
            </div>
        </div>

        <div class="row" id="bottom_row">
            <div class="col-sm-12">
                <div id="map"></div>
            </div>
        </div>

    </div>

    <!-- Begin Create Group Modal -->
    <div class="modal fade" id="group" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Groups</h2>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" id="modal_row">
                            <div class="col-md-4" id="current_groups">
                                <h3>Current Groups</h3>
                                <ul ng-repeat="group in userGroups">
                                    <li><a href="" ng-click="cancel(group._id)">{{group.name}}</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4" id="select_group">
                                <h3>Join Existing Group</h3>
                                <!-- <p ng-repeat="error in regErrors">{{error.message}}</p> -->
                                <form ng-submit="joinGroup()">
                                    <label style="display:block;">Group Name: <input type="text" ng-model="join.name"></label>
                                    <label style="display:block;">Password: <input type="password" ng-model="join.password"></label>
                                    <button class="btn btn-success" type="submit">Join</button>
                                </form>
                            </div>
                            <div class="col-md-4" id="new_group">
                                <h3>Create A New Group</h3>
                                <!-- <p ng-repeat="error in regErrors">{{error.message}}</p> -->
                                <form ng-submit="registerGroup()">
                                    <label style="display:block;">Group Name: <input type="text" ng-model="regGroup.name"></label>
                                    <label style="display:block;">Password: <input type="password" ng-model="regGroup.password"></label>
                                    <label style="display:block;">Password Confirmation: <input type="password" ng-model="regGroup.passwordConf"></label>
                                    <button class="btn btn-success" type="submit">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
