<link rel="stylesheet" href="assets/css/group_profile.css">
<div ng-controller="groupProfileController">

    <nav id="lumenati-navbar-container">
        <div id="lumenati-navbar">
            <ul class="lumenati-nav-ul">
                <li><a id="lumenati-logo" href="#/dashboard/{{session_user.username}}">lumenati</a></li>
            </ul>
            <ul class="lumenati-nav-ul">
                <li><a href="#/dashboard/{{session_user.username}}">Groups</a></li>
                <li><a href="#/profile/{{session_user.username}}" ng-click="">Profile</a></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>


<div id="group-profile-top-container">
    <div id="group-profile-sidebar">
        <div id="map-group-header">
            <h1>{{currentGroup.name}}</h1>
            <p>Group created: {{currentGroup.createdAt | date:"MMMM dd, yyyy"}}</p>
        </div>
        <div id="map-group-search">
            <input id="group-profile-pac-input" class="controls" type="text" placeholder="Search For A Place">
            <button id="group-add-modalopen" class="btn" type="button" data-toggle="modal" data-target="#addBookmark">Bookmark It</button>
        </div>
    </div>

    <div id="map"></div>
</div>


<!-- <div id="group-profile-top-container">
    <h1>{{currentGroup.name}}</h1>
    <p>Created On: {{currentGroup.createdAt | date:"MMMM dd, yyyy"}}</p>
    <button type="button" class="btn"><a id="add_button" href="#/dashboard/group/{{currentGroup._id}}">Add New Bookmarks</a></button>

    <h3>GROUP MEMBERS</h3>
    <ul ng-repeat="member in currentGroup.members">
        <li>{{member.first_name}} {{member.last_name}}</li>
    </ul>
</div>


<h3>LATEST MARKERS</h3>
<p>{{noMarkers}}</p>
<ul ng-repeat="marker in currentGroup.markers | orderBy:'-createdAt' | limitTo:5">
    <li><b>{{marker.title}}</b> - <i>{{marker.category}}</i><br>{{marker.address}}<br></li>
</ul> -->



<!-- <h3>GROUP STATUS</h3>
<h4><b>{{currentStatus}}</b></h4>
<form ng-submit="changeGroupStatus()">
    <input type="text" class="form-control noresize" rows="3" id="comment" ng-model="groupStatus.comment" placeholder="Group notes, updates, and other findings..."></input>
    <button class="btn" type="submit">Update</button>
</form> -->


    <!-- Begin Create Group Modal -->
    <div class="modal fade" id="addBookmark" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div id="group-modal-content" class="modal-content">
                <div id="group-modal-header" class="modal-header">
                    <h2 class="modal-title">Add Bookmark</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="group-modal-body" class="modal-body">
                    <p class="redText">{{newMarkerErrors.emptyForm}}</p>
                    <p class="redText">{{newMarkerErrors.title}}</p>
                    <p class="redText">{{newMarkerErrors.address}}</p>
                    <p class="redText">{{newMarkerErrors.coordinates}}</p>
                    <form id="group-modal-form" ng-submit="addGroupMarker()">
                        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="newGroupMarker.title" value="">
                        <input type="text" class="form-control" id="address" placeholder="Address" ng-model="newGroupMarker.address" value="">
                        <select class="form-control" id="category" placeholder="Category" ng-model="newGroupMarker.category" value="">
                            <option value="" disabled selected>Select A Category...(optional)</option>
                            <option value="Food">Food</option>
                            <option value="Coffee">Coffee</option>
                            <option value="Bar/Nightlife">Bar/Nightlife</option>
                            <option value="Point of Interest">Point of Interest</option>
                            <option value="Venue">Venue</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Airport">Airport</option>
                            <option value="Hotel">Hotel</option>
                        </select>
                        <textarea type="textarea" class="form-control noresize" id="description" placeholder="Description" ng-model="newGroupMarker.description" value=""></textarea>
                        <input type="text" class="form-control" id="url" placeholder="URL (optional)" ng-model="newGroupMarker.url" value="">
                        <input type="text" class="form-control" id="latitude" placeholder="Latitude" disabled="true" ng-model="newGroupMarker.latitude" value="">
                        <input type="text" class="form-control" id="longitude" placeholder="Longitude" disabled="true" ng-model="newGroupMarker.longitude" value="">
                        <input type="submit" class="btn btn-default" value="Add Marker">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
